node_modules/

dist/

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.docker.env

# caches
.eslintcache
.cache
*.tsbuildinfo

prisma/generated
prisma/seed.json

data/

bun.lock