services:
  db:
    image: postgres:latest
    container_name: pomi-db
    restart: always
    env_file:
      - .docker.env
    ports:
      - 5432:5432
    volumes:
      - ./data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 2s
      retries: 20
  api:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: api
    restart: always
    stdin_open: true
    tty: true 
    env_file:
      - .docker.env
    ports:
      - 3000:3000
    depends_on:
      db:
       condition: service_healthy